<h1>Listing Stores</h1>

<table class="table table-striped" id="sortable_table">
  <thead>
	  <tr>
		<th>Name</th>
		<th>Manager</th>
	  </tr>
  </thead>
  <tbody>
	<% @stores.each do |store| %>
	  <tr>
	    <td><%= link_to store.name, store_path(store) %></td>
	   <td><%= store.current_manager.person.full_name rescue nil %></td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br />